main{height: 800px;}
body { background-image: url(city.jpg);
    background-repeat: repeat;
    background-size: 100%;}
h1 {text-align: center;
    font-size:3em;
    text-decoration-style: double;
    text-shadow: 3px 2px 5px #666;}
h2 {text-align: center;}
h3 {text-align: center;
    font-style: italic;
    font-size: 4em;}
h4 {font-size: 4em;}
nav{float: none;
    width: auto;
    padding-top: 0;
    font-size: .6em;} 
ul{padding-left:3em;
    list-style-type:none;
    padding-right:3em;}
nav{font-weight: bold;
    font-size: 1.25em;}
#HeavenCloud{background-image: url(heaven.jpg);
    background-repeat: repeat;
    background-size: 100%;
    height: 700px;
    position:relative; top: 20px;}
#wrapper {background-color:#58ACFA;
    min-width: 1100px;
	max-width: 1160px;
	box-shadow:5px 5px 5px #828282;
	margin-left:auto;
	margin-right:auto;
	width: 80%;}
p.solid{border-stye: solid;}
footer{
	font-style: italic;
	text-align: center;
	padding-bottom:10px;
    min-width: 700px;
    max-width: 760px;
    margin-left: auto;
    margin-right:auto;
	border-top:2px;
	font-size: 1.5em;
    width: 80%;
    color:#fff;}
a {font-style: italic;
    color: #000000;}
p {padding-top: 40px;
    text-align: left; 
    font-weight: bold; 
    font-size: 2em; 
    color: #0B0B61;}
@media screen and (max-width : 760px){
    ul {position: static;
        display: none;
        }
    li {margin-bottom: 1px;
        }
    ul li, li a {
        width: 100%;
        }
    }
